@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@use '/buttons';
//Primary Colors
$Primary-900: #210C33;
$Primary-800: #421866;
$Primary-700: #632599;
$Primary-600: #8431CC;
$Primary-500: #A53DFF;
$Primary-400: #B764FF;
$Primary-300: #C98BFF;
$Primary-200: #DBB1FF;
$Primary-100: #EDD8FF;
.button-500{
    border-radius: 4px;
    padding: 12px 24px;
    background-color: $Primary-500;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.button-600{
    border-radius: 4px;
    padding: 12px 24px;
    background-color: $Primary-600;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.button-500-outline{
    border: 1px solid $Primary-500;
    border-radius: 4px;
    padding: 12px 24px;
    color: $Primary-500;
    font-weight: 600;
    font-size: 16px;
}
.button-600-outline{
    border: 1px solid $Primary-600;
    border-radius: 4px;
    padding: 12px 24px;
    color: $Primary-600;
    font-weight: 600;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    
}

body{
    font-family: 'Poppins',sans-serif;
    width: 100vw;
    .fluid-container{
        padding: 0 300px;
    }
    .blue-button{
        background-color: $Primary-500;
        border-radius: 10px;
        padding: 12px 24px;
        color: white;
        font-size: 16px;
        font-weight: 600;

    }
    nav{
        display: flex;
        align-items: center;
        .navbar-brand{
            display: flex;
            align-items: center;
        }
        #logo{
            display: flex;
            border-radius: 50%;
            background-color: $Primary-500;
            width: 56px;
            height: 56px;
            text-align: center;
            align-items: center;
            justify-content:center;
            font-size: 24px;
            font-weight: 500;
            color: white;
        }
        #logo-text{
            font-size: 32px;
            font-weight: 600;
            margin-left: 12px;
        }
        li{
            padding: 12px 24px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            // &:nth-of-type(7){
            //     background-color: $Primary-500;
            //     border-radius: 10px;
            // }
        }
    }
    .hero{
        display:grid;
        grid-template-columns: repeat(1fr,3);
    }
    .left-top{
        grid-column: 1/3;
        h1{
            font-size: 72px;
            font-weight: 600;
            margin: 178px 0 24px 0;
        }
        p{
            margin-bottom: 24px;;
        }
    }
    .left-bottom{
        display:flex;
        .pink-card{
            max-width:200px;
            text-align: center;
            background-color: #DBB1FF;
            .span{
                display:block;
            }
        }
    }
    img{
        grid-column: 3/4;
        max-width:100%;
    }
}